.container{
    width: 100%;
    margin: 0px auto;
    background-color: midnightblue;
}

.button{
    background-color: black;
    color: white;
    text-align: center;
    border: 5px solid grey;
    display: inline-block;
    width: 1fr;
    padding: 25px;
    margin: 10px;
    font-weight: bold;
}