body{
    color: white;
}

.bigRect{
    width: 400px;
    height: 400px;
    background-color: black;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.smallRect{
    width: 100px;
    height: 100px;
}

.inner{
    position: absolute;
    background-color: blue;
}

.outer{
    position: fixed;
    background-color: green;
}

.middle{
    background-color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centeredX{
    margin: 0px;
    left: 50%;
    transform: translate(-50%);
}

.centeredY{
    top: 50%;
    transform: translateY(-50%);
}

.bottom{
    bottom: 0px;
}

.right{
    right: 0px;
}

.left{
    left: 0px;
}

.top{
    top: 0px;
}